{#
Copyright(c)2016, Yamato Financial Co.,Ltd. All rights reserved.
Copyright(c)2016, Yamato Credit finance Co.,Ltd. All rights reserved.
#}
<li class="{% if mypageno|default('') == 'card' %}active{% endif %}"><a href="{{ url('yamato_mypage_change_card') }}">カード情報編集</a></li>
