{#
Copyright(c)2016, Yamato Financial Co.,Ltd. All rights reserved.
Copyright(c)2016, Yamato Credit finance Co.,Ltd. All rights reserved.
#}
<li><a href="{{ url('admin_order_export_web_collect') }}">クレジットカード出荷登録CSVダウンロード</a></li>
<li><a href="{{ url('admin_order_export_b2') }}">B2 CSVダウンロード</a></li>