{#
Copyright(c)2016, Yamato Financial Co.,Ltd. All rights reserved.
Copyright(c)2016, Yamato Credit finance Co.,Ltd. All rights reserved.
#}
<div class="row">
  <div class="col-sm-12">
    <div id="search_box_main__product_typet" class="form-group">
      <label>商品種別</label>
      <div>
        {{ form_widget(searchForm.product_type) }}
      </div>
    </div>
  </div>
</div><!-- /.row -->
